{% load static %}

<div class="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-2 col-md-3 col-sm-12">
                <div class="footer-logo">
                    <h2>S H O P K I T .</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="footer-menu">
                    <li><a href="mailto:ikram.khan0762@gmail.com">ikram.khan0762@gmail.com</a></li>
                    <li><a href="tel:+923419387283">+92 341 938 728 3</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-12">
                <div class="footer-links">
                    <ul>
                        <li><a href="{% url 'website:terms-and-conditions' %}">Terms</a></li>
                        <li><a href="{% url 'website:privacy-policy' %}">Privacy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Scroll To Top -->
        <a id="back-top" class="back-to-top js-scroll-trigger" href="#main"></a>
        <!-- Scroll To Top Ends-->
    </div>
</div>