{% load static %}

<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top wt-border">
    <div class="container">
        <img src="{% static 'website/images/logo-500.png' %}" height="50">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto navbar-right">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'website:home' %}#features">Features</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'website:home' %}#reviews">Reviews</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'website:report' %}">Report</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'website:book-a-demo' %}">Demo</a></li>
                <li><a class="btn-nav js-scroll-trigger" href="{% url 'website:download' %}">Download</a></li>
            </ul>
        </div>
    </div>
</nav>
