{% extends 'website/base.html' %}
{% load static %}


{% block context %}

    {# GLOLBAL #}
    <div class="home">
        <div class="container">
            <div class="hero-content wow fadeIn">
                <div class="row">
                    <div class="container text-center">
                        <div class="f-text">
                            <div class="left-content">
                                <div class="cat2 text-center">
                                    <h4>For Global</h4>
                                    <h2>Embeddable Jar</h2>
                                    <p>Make sure to download and install <a href="#">java 8</a> first, before installing
                                        shopkit</p>
                                </div>
                                {% if global_app_free %}
                                    <a class="btn-action btn-outline nav-link js-scroll-trigger"
                                       href="{% url 'website:download_software' %}?os=g&category=f">
                                        Free Version
                                    </a>
                                {% else %}
                                    <a class="btn-action btn-outline nav-link js-scroll-trigger" href="#">
                                        Upcoming
                                    </a>
                                {% endif %}
                                {% if global_app_premium %}
                                    <a class="btn-action"
                                       href="{% url 'website:download_software' %}?os=g&category=p">
                                        Premium Version
                                    </a>
                                {% else %}
                                    <a class="btn-action" href="#">Upcoming</a>
                                {% endif %}
                            </div>
                            <p class="condition_txt">
                                <br>
                                Download the zip file unzip it and use Shopkit, no need of installations<br>
                                Fully working on windows linux and mac<br>
                                make sure to install java 8 first
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# WINDOWS #}
    <div class="yd-cat">
        <div class="container">
            <div class="hero-content wow fadeIn">
                <div class="row">
                    <div class="container text-center">
                        <div class="f-text">
                            <div class="left-content">
                                <div class="cat2 text-center">
                                    <h4>For Windows</h4>
                                    <h2>Executable Installers</h2>
                                    <p>Make sure to download and install <a href="#">java 8</a> first, before installing
                                        shopkit
                                    </p>
                                </div>
                                {% if windows_app_free %}
                                    <a class="btn-action btn-outline nav-link js-scroll-trigger"
                                       href="{% url 'website:download_software' %}?os=w&category=f">
                                        Free Version
                                    </a>
                                {% else %}
                                    <a class="btn-action btn-outline nav-link js-scroll-trigger" href="#">
                                        Upcoming
                                    </a>
                                {% endif %}
                                {% if windows_app_premium %}
                                    <a class="btn-action"
                                       href="{% url 'website:download_software' %}?os=w&category=p">
                                        Premium Version
                                    </a>
                                {% else %}
                                    <a class="btn-action" href="#">Upcoming</a>
                                {% endif %}
                            </div>
                            <p class="condition_txt">
                                <br>Download the app and install it, version is supported for all versions of
                                windows 7, 8, 10 and 11
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# LINUX #}
    <div class="yd-cat border-top">
        <div class="container">
            <div class="hero-content wow fadeIn">
                <div class="row">
                    <div class="container text-center">
                        <div class="f-text">
                            <div class="left-content">
                                <div class="cat2 text-center">
                                    <h4>For LINUX</h4>
                                    <h2>Not available</h2>
                                    <p>Linux support is not added yet, but you can download the <b>global version</b>
                                        and use it as embeddable jar file</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# MAC #}
    <div class="yd-cat border-top">
        <div class="container">
            <div class="hero-content wow fadeIn">
                <div class="row">
                    <div class="container text-center">
                        <div class="f-text">
                            <div class="left-content">
                                <div class="cat2 text-center">
                                    <h4>For MAC</h4>
                                    <h2>Not available</h2>
                                    <p>Mac support is not added yet, but you can download the <b>global version</b>
                                        and use it as embeddable jar file</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock context %}