{% extends 'website/base.html' %}
{% load static %}


{% block context %}

{# HERO SECTION #}
<div class="home">
    <div class="container">
        <div class="hero-content wow fadeIn">
            <div class="row">
                <div class="container text-center">
                    <div class="f-text">
                        <div class="left-content">
                            <div class="cat2 text-center">
                                <h4>For Global</h4>
                                <h2>Embeddable Jar</h2>
                                <p>Make sure to download and install <a href="#">java 8</a> first, before installing
                                    shopkit</p>
                            </div>
                            <a class="btn-action btn-outline nav-link js-scroll-trigger" href="#features">
                                Free Version
                            </a>
                            <a class="btn-action" href="#">Upcoming ..</a>
                        </div>
                        <p class="condition_txt">
                            Download the zip file unzip it and use Shopkit, no need of installations
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="yd-cat">
    <div class="container">
        <div class="hero-content wow fadeIn">
            <div class="row">
                <div class="container text-center">
                    <div class="f-text">
                        <div class="left-content">
                            <div class="cat2 text-center">
                                <h4>For Windows</h4>
                                <h2>Executable Installers</h2>
                                <p>Make sure to download and install <a href="#">java 8</a> first, before installing
                                    shopkit
                                </p>
                            </div>
                            <a class="btn-action btn-outline nav-link js-scroll-trigger" href="#features">
                                Free Version
                            </a>
                            <a class="btn-action" href="#">Upcoming ..</a>
                        </div>
                        <p class="condition_txt">
                            Mac and Linux versions are not supported yet<br>
                            Will be available with next version but you can use global version on Linux and Mac
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock context %}