{% extends 'website/base.html' %}
{% load static %}


{% block context %}

    {# GLOLBAL #}
    <div class="home">
        <div class="container">
            <div class="hero-content wow fadeIn">
                <div class="row">
                    <div class="container text-center">
                        <div class="f-text">
                            <div class="left-content">
                                <div class="cat2 text-center">
                                    <h2>Embeddable Jar</h2>
                                    <p>Make sure to download and install <a href="#">java 8</a> first, before installing
                                        shopkit</p>
                                </div>
                            </div>
                            <p class="condition_txt">
                                <br>
                                Download the zip file unzip it and use Shopkit, no need of installations<br>
                                Fully working on windows linux and mac<br>
                                make sure to install java 8 first
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# MAC #}
    <div class="yd-cat border-top">
        <div class="container">
            <div class="hero-content wow fadeIn">
                <div class="row">
                    <div class="container text-center">
                        <div class="f-text">
                            <div class="left-content">
                                <div class="cat2 text-center">
                                    <h4>For MAC</h4>
                                    <h2>Not available</h2>
                                    <p>Mac support is not added yet, but you can download the <b>global version</b>
                                        and use it as embeddable jar file</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock context %}